.layout-default {
  &__header {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 9999;
    top: 0;
    padding: 15px 20px;

    &-text {
      text-align: end;

      a {
        color: white;
        text-decoration: none;
        font-size: 25px;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        color: white;
        text-decoration: none;
        font-size: 15px;
      }
    }

    &-search {
      text-align: center;
    }

    &-cart{
      color: white;
      font-size: 30px;
    }

    &-cartIcone{
      position: relative;
    }

    &-cartQuantity{
      position: absolute;
      top: 0px;
      left: 17px;
      font-size: 12px;
      background: #fff;
      color: red;
      border-radius: 15px;
      padding: 0px 10px;
      font-weight: 600;
    }
  }
}
